{% extends 'blog/base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<small>Published on {{ post.published_date }} by {{ post.author }}</small>

<h3>Tags</h3>
{% for tag in post.tags.all %}
<a href="{% url 'posts-by-tag' tag.name %}">{{ tag.name }}</a>
{% endfor %}

<h2>Comments</h2>
{% for comment in post.comments.all %}
<div>
    <p>{{ comment.content }}</p>
    <small>By {{ comment.author }} on {{ comment.created_at }}</small>
</div>
{% endfor %}
{% endblock %}